.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}


.modal__open {
    visibility: visible;
}   

.modal__title {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
}

.modal__close {
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 16px;
    width: 16px;
    border: none;
    position: absolute;
    top: 20px;
    right: 28px;
    
}

.modal__content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border: none;
    position: relative;
    padding: 28px 28px 36px;
    max-width: 496px;
    width: 100%;
    box-sizing: border-box;
}

.modal__form{
    display: flex;
    flex-direction: column;

}

.modal__input {
    display: block;
}

.modal__radio-buttons {
    border: none;
    padding: 0;
    display: flex;
    gap : 32px;
}

.modal__form-type-radio {
    flex-direction: row;
    gap: 8px;
    width: 173px;
    height: 20px;
    color: #000;
    
}

.modal__form-type-radio:checked{
    color: #000;
}

.modal__submit{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.modal__submit:hover{
    cursor: pointer;
    background-color: #00000099;
    opacity: 1;
}

.modal__container_type_img{
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    padding: 0;
}