.clothes-section {
  padding: 20px 0;
}

.clothes-section__description {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.clothes-section__label {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 20px;
}

.clothes-section__btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.clothes-section__btn:hover {
  opacity: 0.6;
}

.clothes-section__items {
  display: grid;
  gap: 200px;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
  margin: 0px;
  padding: 0px;
  list-style: none;
}

@media screen and (max-width: 380px) {
  .clothes-section__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 17px;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 425px) {
  .clothes-section__items {
    grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
    grid-auto-rows: 164px;
    justify-content: center;
    align-items: center;
  }
}
